[Default]
# Don't change this unless testing different dataset.
adj_filename = data/PEMS04.csv
traffic_filename = data/PEMS04.npz
weather_filename = data/weather.npz

# Note that num_X is a MULTIPLE of the prediction window
# num_hours only does what it says if pred_window is an hour
# otherwise, num_hours = 3 and window_size = 24 means it's 3 2-hour periods
num_hours = 2
num_days = 2
num_weeks = 2

# measured in 5 minute intervals
# the code is not built to handle unreasonable window sizes
# please limit your window size to the scope of several hours at worst
pred_window_size = 12

# Depth for convolution - represents neighbor depth.
# Keep low to avoid slow model. 3 should be a reasonable limit.
K = 3

epochs = 3
